body {
  background-color: #eee;
  /* background=eeeeeeff&noise=ffffff&density=10&opacity=10 */
}

.limited-width {
  margin: 0 auto;
  max-width: 1200px;
}

/* Make the sidebar the same size on affix change */
.bs-docs-sidebar {
  width: 160px;
}
.bs-docs-sidenav {
  width: 160px;
}

body,html {
  height: 100%
}
.bs-page-content {
  height: auto;
  min-height: 100%;
}
.bs-docs-footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 115px;
  margin-top: 115px;
  background-color: #fff;
  border-top-color: #ccc;
}

section {
  background-color: #fff;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  padding-bottom: 30px;
}
.col-sm-9 {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  background-color: #6f5499;
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  display: block;
  padding: 15px;
}

.padded {
  padding-left: 15px;
  padding-right: 15px;
}
.bs-docs-header {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron h1 {
  color: #fff;
}
.jumbotron p {
  color: #fff;
}

.bs-docs-sidenav.affix-top {
  width: auto;
}

.body {
  height: 100%;
}

.bs-docs-sidebar .nav>.active>ul {
  display: block;
}

.navbar-fixed-top {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #563d7c;
}

.fitted-image {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
