<header class="navbar bs-docs-nav navbar-fixed-top" role="navigation">
  <div class="limited-width">
    <div class="navbar-header">
      <button type="button" 
              class="navbar-toggle collapsed" 
              data-toggle="collapse" 
              data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        H&L
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% include nav_link.html title="Our Company"    url="our_company.html" %}
        {% include nav_link.html title="Our Philosophy" url="our_philosophy.html" %}
        {% include nav_link.html title="Our People"     url="our_people.html" %}
        {% include nav_link.html title="Our Projects"   url="our_projects.html" %}
        {% include nav_link.html title="News"           url="news.html" %}
        {% include nav_link.html title="Contact"        url="contact.html" %}
      </ul>
    </div>
  </div>
</header>
<div style="height: 50px;"></div> <!-- Prevents fixed navbar overlap -->
<div class="bs-docs-header">
  <div class="limited-width" style="padding-left: 15px; padding-right: 15px;">
    <h1> {{ page.title }}</h1>
  </div>
</div>
