<div class="bs-docs-sidebar
            hidden-print
            hidden-xs
            scroll-navbar">
  <ul class="nav bs-docs-sidenav affix"
            data-spy="affix"
            data-offset-top="190"
            data-offset-bottom="200"
            style="top: 90px;">

    {% assign sorted_pages = (site.pages | sort: 'order') %}
    {% for p1 in sorted_pages %}
      {% if p1.type == page.presents_type %}
        <li>
          <a href="#{{ p1.title | downcase | replace: ' ','-' | replace: '/','-' }}">
            {{ p1.title }}
          </a>
          <ul class="nav scroll-navbar">


            {% for p2 in sorted_pages %}
              {% if p2.type == p1.presents_type %}
                <li>
                  <a href="#{{ p2.title | downcase | replace: ' ','-' | replace: '/','-' }}">
                    {{ p2.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}


          </ul>
        </li>

      {% endif %}
    {% endfor %}
  </ul>
</div>
