<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target=".scroll-navbar">
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-sm-9 right-bordered">


          {% assign sorted_pages = (site.pages | sort: 'order') %}
          {% for p in sorted_pages %}
            {% if p.type == page.presents_type %}
            <section id="{{ p.title | downcase | replace: ' ','-'}}">
              {% include section_header.html header=p.title filler=p.subtitle %}
              <div>
                {{ p.content }}
              </div>
            </section>
            <br><br>
            <br><br>
            {% endif %}
          {% endfor %}


        </div>
        <div class="col-sm-3">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
