<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target=".scroll-navbar">

    <div class="page-content">
      {% include header.html %}
      <div class="wrapper limited-width">
        <div class="col-sm-9">

          {% for p in (site.pages | sort: 'order') %}
            {% if p.type == page.presents_type %}
              {{ p.content }}
            {% endif %}
          {% endfor %}

        </div>
        <div class="col-sm-3">
          {% include sidebar.html %}
        </div>
      </div>
      {% include footer.html %}
    </div>

  </body>

</html>
